<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>111933666575-crn97pu2j3gud09jp0k6kgilpcpct2tm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.111933666575-crn97pu2j3gud09jp0k6kgilpcpct2tm</string>
	<key>API_KEY</key>
	<string>AIzaSyDIDff-wKef_vJPsAc9MfpnjZrxnhz44lc</string>
	<key>GCM_SENDER_ID</key>
	<string>111933666575</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jmechristiandigial.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-4e9e8</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-4e9e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:111933666575:ios:b35cdc29e7724bbfd5ba7a</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-4e9e8.firebaseio.com</string>
</dict>
</plist>